body {
	background: red url(../img/index.jpg) center center;
	background-size: cover;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	border-top: 1px solid transparent;
}

body {
	position: relative;
}

.container {
	padding: 0 20px;
	position: absolute;
	top: 50%;
	text-align: center;
	width: calc(100% - 40px);
	transform: translateY(-50%);
}

h1 {
	line-height: 90px;
	color: #FFFFFF;
	font-size: 3.125rem;
}

p {
	line-break: 5rem;
	font-size: 1.375rem;
	color: #FFFFFF;
}

.btn {
	width: 12.5rem;
	height: 3.75rem;
	background-color: #7cacae;
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	margin: 30px auto;
	border-radius: 10px;
	transition: 1s;
}

.btn:hover {
	width: 18.75rem;
	height: 100px;
	background-color: yellow;
	line-height: 6.25rem;
	margin: 100px auto;
}
